<div class="app-login">
  <code>
    The button will trigger an action which calls the `/api/auth` endpoint.
    The response contains the access and refresh tokens that will be
    used by ember-simple-auth, and each of the clients for each graphql
    query.
  </code>
  <button class="login-button" {{action "login"}}>Login</button>
</div>